.progress-bar {
  display: flex !important; /* Ensure it stays visible */
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text);
  width: 100%;
  padding: 10px 0;
  position: relative;
  z-index: 1;

  div {
    color: var(--clr-text);
  }
}

.progress-step {
  flex: 1;
  text-align: center;
  position: relative;
  display: block !important; /* Ensure steps are not hidden */
}

.progress-step.hidden {
  display: none; /* Explicitly hide steps when needed */
}

.progress-step.active .step-circle {
  background: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  color: var(--clr-text);
}

.step-circle {
  width: 30px;
  height: 30px;
  background: var(--clr-card-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 5px;
  transition: background 0.3s ease;
}

.step-text {
  font-size: 12px;
}

.step-line {
  height: 1px;
  background: var(--clr-secondary);
  color: var(--clr-secondary);
  position: absolute;
  top: 14px;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.step-line.active {
  background: rgb(69, 147, 69);
}

/* FORM */
#registrationOverlay .overlay-content {
  .progress-bar,
  .form-section {
    margin: 0;
  }
}

#registrationOverlay .form-section {
  min-width: 60dvw;
  padding: 0;

  .form-data {
    margin-block: 2px;
  }
}

form#registrationForm .step {
  width: 100%;
  padding: 0;
  margin: 0;

  .form-data {
    position: relative;
    width: 100%;
  }
}

#registrationOverlay {
  margin: auto;
  /* display: flex; */
}

.radio-custom {
  display: none;
}

.radio-custom + label {
  padding: 8px 16px;
  border: 2px solid var(--clr-heading-bg);
  border-radius: 4px;
  cursor: pointer;
}

.radio-custom:checked + label {
  border-color: var(--clr-heading-bg);
  background: var(--clr-body-bg);
}

#video {
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#canvas {
  display: none;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  margin-top: 10px;
}

#registrationCompleteOverlay .user-data {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
