body .parent {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  position: relative;
  background: var(--clr-body-bg);
}

/* h5 {} */
/* text-wrap: nowrap !important; */
/* word-wrap: break-word; Ensures long words break */
/* overflow-wrap: break-word; Alternative approach */
/* white-space: normal; Allows text to wrap naturally */
/* width: 100%; Ensure it respects parent width */
.parent div {
  background: transparent;
}

.parent .home-view {
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.parent .signup-option-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55%;
  height: 100%;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--clr-nav-bg);
  margin-bottom: 1em;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--clr-heading);
}

.tab-btn {
  padding: 0.5em 2em;
  margin-right: 0.5em;
  cursor: pointer;
  color: var(--clr-heading);
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
}

.tab-btn.active {
  color: var(--clr-primary);
  background: transparent;
  font-weight: bold;
  border-bottom: 2px solid var(--clr-heading);
}

.tab-content {
  display: none;
  padding: 0;
  margin: 0;
  min-height: fit-content;
  height: 60%;
  width: 90%;
  overflow: hidden;
  text-align: center;

  h1 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
  }

  :is(h1, h4) {
    font-family: var(--font-txt2);
    margin-bottom: 1rem;
  }
}

.parent .tab-content {
  box-shadow: 2px 2px 10px var(--clr-nav-bg);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;

  span {
    box-shadow: 2px 2px 10px var(--clr-nav-bg);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    margin-top: 1rem;
  }

  i {
    font-size: 1.5rem;
  }

  select {
    width: fit-content;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--clr-heading);
    font-weight: 700;
    background: transparent;
  }

  button {
    padding: 10px 20px;
    color: #fff;
    font-family: var(--font-txt2);
    font-size: 1rem;
    font-weight: 600;
    background: var(--clr-primary);
    margin: auto;

    & a {
      text-decoration: none;
      color: #fff !important;
    }
  }
}

.tab-content[id="mentee"] {
  display: block;
}

.parent .mentor-view {
  height: 100%;
  width: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  gap: 0;

  img {
    width: 7rem;
    height: 100%;
    object-fit: cover;
    transform: rotate(-5deg);
  }
}

/*? SITE OVERVIEW */
div.process-design {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-block: 3rem;
  padding-inline: 0.5rem;
}

div.process-design div.row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

/*? Vertical line on active card */
div.process-design div.row1 span.active::before {
  width: 0.1rem;
  height: 5rem;
  content: "";
  background: var(--clr-heading) !important;
  z-index: 1;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
}

div.process-design div.row1 span {
  position: relative;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 100%;
  border: 0.1rem solid var(--clr-heading);
  background: var(--clr-body-bg);
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  font-family: var(--font-txt1);
  color: var(--clr-heading);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.process-design div.row1 span.process-step.active {
  background: var(--clr-heading);
  border: 0.15rem solid var(--clr-card-bg);
  outline: 0.1rem solid var(--clr-heading);
  color: var(--clr-card-bg);
  transition: all 0.2s ease-in-out;
}

div.process-design div.row2 {
  margin-top: 3rem;
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  border-top: 0.1rem solid var(--clr-heading);
  z-index: 1;
  overflow: hidden;
}

div.process-design div.row2 .step-description {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

div.process-design div.row2 .step-description:first-of-type {
  display: block;
}

div.process-design div.row2 p {
  margin: auto;
  width: 90%;
  font-size: 1rem;
  font-weight: 400;
}

/*? PARTNER ORGANIZATIONS */
.scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroll-content {
  display: flex;
  animation: scroll 15s linear infinite;
  width: 100dvw;
  height: 15rem;
}

.partner {
  margin: 0 20px;
  text-align: center;
}

.partner img {
  width: 15rem;
  height: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/*? BEST RATED MENTORED */
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  max-width: 90%;
  margin: auto;
  margin-block: 2rem;
}

.carousel-container .carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.carousel-container .section-controls .explore-btn {
  width: 7rem;
  background: var(--clr-body-bg);
  border: 1px solid var(--clr-heading);
  border-radius: 5px;
  color: var(--clr-heading);
}

.carousel-container .section-controls .scroll-btn {
  border-radius: 100%;
  padding: 10px;
}

.carousel {
  list-style: none;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  max-width: 100%;
  height: 40rem;
  scroll-behavior: smooth;
  position: relative;
}

.carousel li {
  scroll-snap-align: center;
  min-width: 25%;
  padding: 5px;
  position: relative;
  border-radius: 10px;
  border: 1px ridge var(--clr-heading);
}

.carousel li img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.carousel b {
  background: var(--clr-heading);
  color: var(--clr-body-bg);
  position: absolute;
  top: 5px;
  right: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  z-index: 1;
  padding: 5px;
  font-family: var(--font-txt2);
}

.carousel .availabilityStatus {
  font-size: 12px;
  position: absolute;
  bottom: 8.5rem;
  width: fit-content;
  left: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid var(--clr-heading);
  background-color: var(--clr-nav-bg);
  z-index: 1;
  padding: 5px;
  font-family: var(--font-txt2);
  pointer-events: none;
}

/* CARD BODY */
.carousel div.card-body {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}

.carousel .card-body span {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  gap: 1rem;

  p {
    font-size: 15px;
  }
}

/*? !HOVER CARDS */
:root {
  --bg-color: rgb(37, 35, 35);
  --card-color: rgb(23, 23, 23);
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 70%;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  width: 350px;
  height: 290px;
  flex-direction: column;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

#cards :is(h1, h2, h3, h4, span) {
  /* color: var(--bg-color); */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 8em;
  opacity: 0.25;
}

.card-image i:hover {
  color: var(--clr-tertiary);
  opacity: 1;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h3 b {
  color: var(--clr-primary);
  font-size: 2rem;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/*? TESTIMONIALS SECTIONS */
:root {
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 109 19% 41%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
.testimonials {
  display: grid;
  place-content: center;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;

  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  background-color: hsl(var(--clr-neutral-200));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

.testimonials span.section-controls button.refresh-btn {
  font-size: 1.5rem;
  border-radius: 100%;
  padding: 10px;
}

.testimonials .section-controls {
  display: flex;
  justify-content: flex-end;
  padding-right: 15rem;
  margin-bottom: 1rem;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3 {
  font-weight: var(--fw-700);
}

/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 2px solid #a775f1;
}

/* components */
.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
  width: min(95%, 80rem);
  margin-inline: auto;
  padding: 0;
  margin-block: 0;
  /* border: 2px solid green; */
}

.testimonial {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}

@media screen and (min-width: 33em) {
  .testimonial-grid {
    grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
  }
}

@media screen and (min-width: 38em) {
  .testimonial-grid {
    grid-template-areas:
      "one one"
      "two five"
      "three five"
      "four four";
  }
}

@media screen and (min-width: 54em) {
  .testimonial-grid {
    grid-template-areas:
      "one one two"
      "five five five"
      "three four four";
  }
}

@media screen and (min-width: 75em) {
  .testimonial-grid {
    grid-template-areas:
      "one one two five"
      "three four four five";
  }
}

.testimonial.quote {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.testimonial img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-nav-bg);
}

.testimonial .name {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1;
}

.testimonial .position {
  font-size: var(--fs-300);
  opacity: 0.5;
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}
